
.cls-1 {
    fill: #6e93d6;
}

.mailbox .cls-2 {
    opacity: 0.35;
}

.cls-3 {
    fill: #199959;
}

.cls-4 {
    fill: #2f4c58;
}

.cls-5 {
    opacity: 0.25;
}

.cls-6 {
    fill: #22b573;
}

.cls-7 {
    fill: #323232;
    opacity: 0.4;
}

.cls-8 {
    fill: #fff;
}

.cls-9 {
    clip-path: url(#clip-path);
}

.cls-10 {
    fill: #466bae;
}

.cls-11 {
    fill: #ddd;
}

.cls-12 {
    fill: #555;
    opacity: 0.2;
}

.cls-13 {
    fill: #e6e6e6;
}

.cls-14 {
    fill: #b33a3a;
}

